body{
    margin: auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.background_error{
    height: 100vh;
}

.login {
    background-color: #037b66;
}

.logo_img{
    width: 10rem;
}

.img_register{
    margin-top: 10rem;
}

.menu_nav{
    height: 100vh;
    width: 250px;
    background-color: #037B66;
}

.img_navbar{
    width: 4rem;
}

.item_menu > a{
    color: white;
}

.item_menu:hover{
    background-color: white;
    border-radius: 10px;
    transition: 1s;
}

.item_menu > a:hover{
    color: green;
}

.background_task{
    height: 90vh;
}

.description_area{
    width: 77rem;
    height: 9rem;
}

.circle_data_user{
    width: 6rem;
    height: 6rem;
}

@media(min-width:1400px){
    .login {
        width: 30.438rem;
        height: 38.563rem;
        margin-top: 8.813rem;
        margin-left: 6.438rem;
    }

    .img_login{
        background-image: url('../img/img_2.jpeg');
        height: 60.625rem;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 100% 100%;
    }
}

@media(max-width: 1399px){
    .login {
        width: 30.438rem;
        height: 38.563rem;
        margin-top: 8.813rem;
        margin-left: 6.438rem;
    }

    .img_login{
        background-image: url('../img/img_2.jpeg');
        height: 60.625rem;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 100% 100%;
    }

    .logo_img{
        width: 10rem;
    }
}

@media(max-width:1199px){
    .login {
        width:24.438rem;
        height: 38.563rem;
        margin-top: 3.813rem;
        margin-left:1.438rem;
    }

    .img_login{
        background-image: url('../img/img_2.jpeg');
        height: 48rem;;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 100% 100%;
    }

    .logo_img{
        width: 6rem;
    }
}

@media(max-width:768px){
    .login {
        width:20.438rem;
        height: 38.563rem;
        margin-top: 3.813rem;
        margin-left:1.438rem;
    }

    .img_login{
        background-image: url('../img/img_2.jpeg');
        height: 48rem;;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: 100% 100%;
    }
    .background_task{
        height: 90vh;
        margin-left: 3rem;
    }
}

@media(max-width:425px){
    .login {
        width:20.438rem;
        height: 100vh;
    }
    .description_area{
        width: 17rem;
        height: 9rem;
    }
    .background_task{
        height: 90vh;
        margin-left: 0;
    }
}





